* {
    background-color: rgb(221, 216, 196);
}

* {
    background-color: rgb(163, 201, 168);
}

* {
    background-color: rgb(132, 181, 159);
}

* {
    background-color: rgb(105, 162, 151);
}

* {
    background-color: rgb(80, 128, 142);
}

